<h1 class="mb-4">Update Product</h1>

<% if(errorMessage){ %>
<div class="alert alert-danger" role="alert">
   <%=errorMessage %>
  </div>

<% } %>
<form action="/updateproduct" method="post">
    <div class="form-group">

        <input type="hidden" class="form-control" id="id" name="id"  value="<%= product.id %>">

        <label for="name">Product Name</label>
        <input type="text" class="form-control" id="name" name="name" value="<%= product.name %>">
    </div>
    <div class="form-group">
        <label for="description">Product Description</label>
        <textarea class="form-control" id="description" name="description" rows="3" 
        required>
        <%= product.description %>
    </textarea>

    </div>
    <div class="form-group">
        <label for="price">Price</label>
        <input type="number" class="form-control" id="price" name="price"    value="<%= product.price %>"step="0.01" >
    </div>
    <div class="form-group">
        <label for="imageUrl">Image URL</label>
        <input type="text" class="form-control" id="imageUrl" name="imageUrl" value="<%= product.imageUrl %>" >
    </div>
    <button type="submit" class="btn btn-primary">Update Product</button>
</form>